/* Scoreboard and Timer */
header {
    display: flex;
    padding: 5px;
    background-color: #3e3a3a;
    color: azure;
    align-items: center;
    max-width: 100%;
}
.score {
    display: row;
    align-items: center;
    flex-grow: 1;
}
.top-score {
    display: row;
    align-items: center;
    flex-grow: 1;
}
.timer {
    padding-left:inherit;
    flex-grow: inherit;
}

