
*{
  margin: 5;
}
body {
  background: black;
  color: rgb(100, 241, 163);
  align-items: center;
  justify-content: center;
  padding: 50px;
}
/* Scoreboard and Timer */
header {
    display: flex;
    padding: 2px;
    background-color: #3e3a3a;
    color: rgb(100, 241, 163);
    align-items: center;
    width: 1000px;
}
.score {
    display: row;
    align-items: center;
    flex-grow: 1;
}
.top-score {
    display: row;
    align-items: center;
    flex-grow: 1;
}
.timer {
    padding-left:inherit;
    flex-grow: inherit;
}

/* creating a game box */
canvas {
  
  border: 1px solid white;
}