html {
  display: inline-block;
  justify-content: center;
  align-items: center;
  
}
body {
  background: black;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 40px;
  display: flexbox;
  position: relative;
  width: 90%;
}
/* Scoreboard */
main{
  flex-grow: 1;
}
header {
    display: flex;
    padding: 2px;
    background: #3e3a3a;
    color: white;
    align-items: center;
    width: 896px;
    height: 70px;
    border: 1px solid white;
    
}
.score, .highScore, .instruction {
    align-items: center;
    flex-grow: 1;
}

#score #highScores {
  width: 100px;
  height: 30px;
  align-items: center;
 
}


/* Play Area, Character & obstacle */
#game {
  background-image: url(./pics/forrest2.gif);
  width: 900px;
  height: 400px;
  border: 1px solid white;
  overflow: hidden;


}
#mech {
  width: 50px;
  height: 90px;
  position: relative;
  top: 265px;
  left: 140px;
}
.animate{
  animation: jump 500ms infinite;
}
/* Animations for jumping */
@keyframes jump{
  0%{top: 265px;}
  30%{top:150px;}
  70%{top:150px;}
  100%{top:265px;}
}

/* Objects  */
#rocket, #enemy{
  background-color: transparent; 
  position: relative;
  padding: 0px;
  width: 80px;
  height: 80px;
  left: 900px;
}

#rocket {
  top: 240px;
  transform: rotate(270deg);
  animation: block 2s infinite linear;
}
#enemy {
  top: 270px;
  animation: block 3s infinite linear;
}
#ship {
  background-color: transparent; 
  position: relative;
  width: 200px;
  height: 100px;
  left:900px;
  transform: rotate(230deg);
  animation: block 6s infinite linear;
}


/* Animations for moving to the left */
@keyframes block{
  0%{left: 900px;}
  100%{left:-400px;}
}



/* button div */ 
#btn {
  align-content: center;
  justify-content: center;
}

#btn-jump, #btn-reset{
  background-color: #0c764f;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}




@media (min-width: 600px) {
  body {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header, main, #btn {
      max-width: 100%;
      min-width: 50%;
  }

}          